.team {
  background-color: #ed7921;
  border-radius: 16px;
  padding: 16px;
  margin: 16px;
  color: white;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.centered > * {
  width: 600px;
  max-width: 80vw;
}

.centered h1 {
  font-size: 48px;
  text-align: center;
}