main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero {
  padding-top: 100px;
  width: 100%;
  background-image: linear-gradient(45deg, #00adab 0%, #005c5a 100%);
  height: 800px;
}

#hero .container {
  padding: 0 20vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: white;
  z-index: 1;
}

#hero > img {
  position: absolute;
  width: 100%;
  bottom: -81px;
}

#hero .container > div {
  width: 40%;
}

#introText img {
  width: 60%;
}

#introText h1,
#ctaHeader h1 {
  font-family: Montserrat;
  font-weight: bold;
}
#introText h1 {
  font-size: 40px;
}

#introText p,
#ctaHeader p {
  font-family: Montserrat;
  font-weight: normal;
}
#introText p {
  font-size: 16px;
  line-height: 1.5em;
}

#cta {
  z-index: 2;
}

#box {
  background-color: white;
  border-radius: 10px;
  margin-top: 96px;
  box-shadow: 0px 0px 4px 0px #7d7d7d;
}

#ctaHeader {
  background-image: url(./assets/Bg.png);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 32px;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

#ctaForm {
  padding: 48px;
}

#ctaForm .field {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px 4px 0 4px;
}

#ctaForm span {
  font-family: Montserrat;
  text-transform: uppercase;
  color: grey;
  font-size: 12px;
  margin-bottom: 8px;
}

#ctaForm input,
#ctaForm select {
  border-radius: 4px;
  padding: 12px;
  font-size: 20px;
  border: 1px solid #ededed;
  background-color: white;
}

#buttons {
  padding: 0 48px;
  position: relative;
  top: -24px;
  text-align: center;
}

.button {
  width: 100%;
  min-height: 48px;
  border-radius: 4px;
  background-color: #7d7d7d;
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: Montserrat;
}

#send {
  background-color: #187e7d;
}

.button:hover {
  box-shadow: 0 0 2px 0px black;
  cursor: pointer;
}

#privacy {
  font-family: Segoe;
  color: black;
  font-size: 12px;
  padding: 16px 0;
}

#privacy span {
  color: red;
}

#arrow {
  position: relative;
  right: -56%;
  top: -80px;
}

#anon {
  position: relative;
  top: -64px;
}

#sponsors {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 64px;
}

#sponsors img {
  padding: 8px;
}

#sponsors p {
  color: #999999;
  font-family: Montserrat;
  font-size: 24px;
}

#volunteer {
  margin-top: 48px;
  background-image: url(./assets/world.png);
  margin: 0 15vw;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 72px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 64px;
}

#volunteer p {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: bold;
  margin: 16px 0;
}

.orange {
  color: #ed7921;
}

#volunteer .cta {
  font-weight: normal;
  color: grey;
  font-size: 16px;
  margin-bottom: 32px;
}

#volunteer a {
  margin-top: 32px;
  padding: 16px;
  background-color: #187e7d;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 48px;
}

#details {
  margin-top: 32px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: Montserrat;
}

#details > div {
  text-align: center;
}

#details h3 {
  font-weight: bold;
}

#details p {
  color: #999999;
}

#info img {
  width: 256px;
}

footer {
  color: white;
  font-size: 20px;
  background-color: #00adab;
  width: 100%;
  text-align: center;
  padding: 48px;
}

@media only screen and (max-width: 600px) {
  #hero {
    padding-top: 32px;
  }

  #hero .container {
    flex-direction: column;
    padding: 0 24px;
  }

  #hero .container > div {
    width: 100%;
  }

  #introText img {
    width: 100%;
  }

  #hero .container h1 {
    font-size: 24px;
  }

  #hero > img {
    display: none;
  }

  #box {
    margin-top: 0;
  }

  #buttons {
    padding: 0 16px;
  }
  #ctaForm {
    padding: 16px;
    padding-bottom: 48px;
  }

  #privacy {
    margin-top: 0;
  }

  #volunteer a {
    font-size: 12px;
  }

  #sponsors {
    margin-top: 360px;
  }

  #details {
    flex-direction: column;
  }
}
