  * {
    box-sizing: border-box;
  }

  *:focus {
    outline: none;
  }

  body {
    margin: 0;
    font-family: sans-serif;
  }

  a {
    text-decoration: none;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  border: none;
}

button:hover {
  background-color: #c56821
}

.box{
  padding: 20px;
  background: #EEEEEE;
  opacity: 0.95;
  border-radius: 4px 4px 4px 4px;
  box-shadow: 5px 10px #888;

}

@font-face {
  font-family: Montserrat;
  src: url(./assets/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/Montserrat-Medium.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Segoe;
  src: url(./assets/segoe-print.ttf);
  font-weight: normal;
}
