#container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg, #00adab 0%, #005c5a 100%);
  color: white;
  font-family: Montserrat;
  overflow: hidden;
}

h1,
p,
a {
  margin: 0.5em 0;
}

#container > a {
  color: #ed7921;
  font-weight: bold;
  font-size: xx-large;
}

h1 {
  font-size: 56px;
}

p {
  font-size: 32px;
}

textarea {
  resize: none;
}

.form {
  text-align: center;
}

input,
select,
textarea {
  font-size: 20px;
  padding: 12px;
  border-radius: 8px;
  border: 2px solid darkgray;
  min-width: 256px;
  background-color: white;
}

button {
  width: 100%;
  min-height: 48px;
  border-radius: 8px;
  background-color: #ed7921;
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: Montserrat;
  cursor: pointer;
  margin-top: 32px;
}

.question {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  position: relative;
  transition: top 0.2s ease-out;
  padding: 64px;
}

.question button {
  width: 160px;
}

.title {
  font-weight: bold;
  margin: 0;
  margin-bottom: 16px;
}

.title:not(:last-of-type) {
  margin-bottom: 0;
}

.title span {
  color: #f76161;
}

.subtitle {
  color: #ffbf8f;
  font-size: 18px;
  margin: 0;
  margin-bottom: 16px;
}

textarea {
  width: 100%;
  max-width: 360px;
}

#send:disabled {
  background-color: darkgray;
}

.multipleChoiceContainer {
  max-height: calc(100vh - 250px);
  overflow-x: hidden;
  overflow-y: auto;
}

.multipleChoiceContainer::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.multipleChoiceContainer::-webkit-scrollbar
{
	width: 12px;
}

.multipleChoiceContainer::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ff9800;
}

input[type="checkbox"],
input[type="radio"] {
  --active: #ed7921;
  --active-inner: #fff;
  --focus: 2px rgba(254, 178, 39, 0.3);
  --border: #ffddaa;
  --border-hover: #ed7921;
  --background: #fff;
  --disabled: #f6f8ff;
  --disabled-inner: #e1e6f9;
  -webkit-appearance: none;
  -moz-appearance: none;
  min-width: 0;
  height: 21px;
  outline: none;
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 0;
  cursor: pointer;
  border: 1px solid var(--bc, var(--border));
  background: var(--b, var(--background));
  transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  border-radius: 7px;
}
input[type="checkbox"]:after,
input[type="radio"]:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  position: absolute;
  transition: transform var(--d-t, 0.3s) var(--d-t-e, ease),
    opacity var(--d-o, 0.2s);
  width: 5px;
  height: 9px;
  border: 2px solid var(--active-inner);
  border-top: 0;
  border-left: 0;
  left: 7px;
  top: 4px;
  transform: rotate(var(--r, 20deg));
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  --b: var(--active);
  --bc: var(--active);
  --d-o: 0.3s;
  --d-t: 0.6s;
  --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
}
input[type="checkbox"]:disabled,
input[type="radio"]:disabled {
  --b: var(--disabled);
  cursor: not-allowed;
  opacity: 0.9;
}
input[type="checkbox"]:disabled:checked,
input[type="radio"]:disabled:checked {
  --b: var(--disabled-inner);
  --bc: var(--border);
}
input[type="checkbox"]:disabled + label,
input[type="radio"]:disabled + label {
  cursor: not-allowed;
}

input[type="checkbox"]:hover:not(:checked):not(:disabled),
input[type="radio"]:hover:not(:checked):not(:disabled) {
  --bc: var(--border-hover);
}
input[type="checkbox"]:focus,
input[type="radio"]:focus {
  box-shadow: 0 0 0 var(--focus);
}
input[type="checkbox"]:not(.switch),
input[type="radio"]:not(.switch) {
  width: 21px;
}
input[type="checkbox"]:not(.switch):after,
input[type="radio"]:not(.switch):after {
  opacity: var(--o, 0);
}
input[type="checkbox"]:not(.switch):checked,
input[type="radio"]:not(.switch):checked {
  --o: 1;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
  font-size: 24px;
  line-height: 21px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  margin-left: 4px;
}

input[type="checkbox"]:not(.switch):checked {
  --r: 43deg;
}

@media only screen and (max-width: 600px) {
  .question {
    width: 100%;
    padding: 16px;
  }

  h1 {
    font-size: 32px;
  }

  input + label {
    max-width: calc(100vw - 96px);
  }
  p {
    font-size: 20px;
    text-align: center;
  }

  .title {
    font-size: 24px;
  }

  button {
    padding: 8px;
    font-size: 20px;
  }
}
