* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button {
  border: none;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Segoe;
  src: url(../fonts/segoe-print.ttf);
  font-weight: normal;
}