.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 24px;
  background-image: linear-gradient(45deg, #00adab 0%, #005c5a 100%);
  color: white;
  font-family: Montserrat;
}

.container h1,
.container p,
.container a {
  margin: 0.5em 0;
}

.container h1 {
  font-size: 72px;
}

.container p {
  font-size: 32px;
}

.text {
  color: #ed7921;
  font-size: 20px;
}

.container .big {
  text-decoration: underline;
  cursor: pointer;
  font-size: 36px;
}

.container .botaoGrande {
  background-color: #ed7921;
  color: white;
  font-weight: bold;
  padding: 16px;
  font-size: 24px;
  border-radius: 8px;
  margin-top: 16px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .container h1 {
    font-size: 32px;
  }

  .container p,
  .container a {
    font-size: 20px;
    text-align: center;
  }

  .container .big {
    font-size: 20px;
  }

  .botaoGrande {
    background-color: #ed7921;
    color: white;
    font-weight: bold;
    padding: 8px;
    font-size: 20px;
    border-radius: 4px;
    margin-top: 8px;
    text-align: center;
  }
}
